body {
	background-color: #f0f0f0;
	padding: 50px;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

table {
	margin-top: 20px;
}

th {
	font-weight: bold;
}

td, th {
	text-align: center;
}

.filter {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
	position: relative;
}
  
.filter label {
	margin-right: 10px;
	font-weight: bold;
	line-height: 26px;
}
  
.filter select {
	font-size: 16px;
	padding: 4px;
	border-radius: 4px;
}

